<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catálogo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Catálogo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title class="ion-text-center ion-margin ion-padding">
      <h1>Catálogo</h1>
    </ion-title>

  <div class="lottie-wrapper">
      <lottie-player class="lottie-player" 
      src="../../assets/animations/console.json"
      background="transparent"
      speed="1"
      time="1"
      loop autoplay
      >
    </lottie-player>
  </div>

  <div class="ion-padding" *ngFor="let game of games">
    

    

    <mat-card color="info" class="example-card" appearance="outlined" style="color:aqua;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ game.title }}</mat-card-title>
        <mat-card-subtitle>{{ game.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="game.image" alt="Foto juego">
      <mat-card-content>
        <p>
          {{ game.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button matButton (click)="btnComprar()">Comprar</ion-button>
       
      </mat-card-actions>
    </mat-card>


    


  </div>
</ion-content>
