<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- incorporacion lottie files player-->
  <div class="lottie-wrapper">
    <lottie-player class="lottie-player" 
    src="../../../assets/animations/gamer-logo.json"
    background="transparent"
    speed="1"
    time="1"
    loop autoplay
    >
  </lottie-player>
</div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
      <mat-card-subtitle>Login</mat-card-subtitle>
    </mat-card-header>

    <ion-card-content>
  
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Nombre usuario</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="username?.touched && username?.invalid">
      <p *ngIf="username?.errors?.['required']">El correo es obligatorio.</p>
      <p *ngIf="username?.errors?.['username']">Correo inválido.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="password?.touched && password?.invalid">
      <p *ngIf="password?.errors?.['required']">La contraseña es obligatoria.</p>
    </ion-text>

    <ion-button
      [disabled]="loginForm.invalid"
      expand="block"
      color="secondary"
      (click)="onLogin()"
    >
      Iniciar sesión
    </ion-button>
    <ion-button      
      expand="block"
      color="secondary"
      (click)="redRegister()"
    >
      Registrarse
    </ion-button>
  </form>

    </ion-card-content>
  </mat-card>
</ion-content>
